/******************************************************************************
 * Resources

https://css-tricks.com/snippets/css/fluid-typography/
https://internetingishard.com/html-and-css/responsive-design/
https://css-tricks.com/almanac/properties/l/letter-spacing/
https://css-tricks.com/forums/topic/responsive-web-design-when-to-use-px-vs-on-margins-and-padding/
https://wisdmlabs.com/blog/customize-drop-down-list-using-css/
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://bulma.io/documentation/overview/responsiveness/#breakpoints

 */

/******************************************************************************
 * Default mobile-first responsive styling
 */


/* Document */
* {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    margin: 0;
    max-width: 100%;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
html {
    box-sizing: border-box;
    background-color: #D6DBDF;
}

/* Nav */
nav {
    height: 100%;
}
nav h1 {
    letter-spacing: 0.4rem;
    margin: 0;
    padding: 20px 10%;
}
header {
    width: 100%;
}

/* Map */
#map-container {
    max-height: 375px;
    width: 100%
}
#maincontent {
    min-height: 100%;
    width: 100%;
}
#map {
    height: 300px;
}

/* Restaurants List */
ul {
    padding: 0;
}
li {
    margin: 0.5rem;
}
img, li {
    border-radius: 7% 0px;
    max-height: 100vh;
    max-width: 100%;
}

/* Dropdown */
.leaflet-control-attribution .leaflet-container {
    font-size: 0.5rem;
}
.leaflet-container a {
    font-size: 0.5rem;
}
.neighborhoods-filter-wrapper, .cuisines-filter-wrapper {
    display: inline-block;
    padding: 10px 8px 10px 14px;
    position: relative;
}
#neighborhoods-select, #cuisines-select {
    border-radius: 5px;
}

/* Restaurants */
#restaurants-list li {
    padding-bottom: 0.25rem;
}
#restaurants-list li h1 {
    margin-bottom: 0;
    margin-left: 0.75rem;
    
}
#restaurants-list li p {
    display: inline-block;
    margin-left: 0.75rem;     
    margin-top: 0.5rem;
}
#restaurants-list li a {
    display: block;
    margin: 0.5rem auto;
    max-width: 30%;
}
#restaurant-name, #restaurant-address {
    margin: 1rem 0 0.5rem 0;
}
#restaurant-hours {
    margin-bottom: 0.5rem;
}
#restaurant-container, #reviews-container {
    margin: 0.5rem auto;
    max-width: 90vw;
    align-items: center;
}
#reviews-container h2 {
    margin: 0.5rem auto;
}
#reviews-list li {
    margin-top: 1rem;
}

/* Footer */
footer {
    flex-shrink: 0;
    width: 100%;
}


/******************************************************************************
 * Tablet responsive styling
 */

@media only screen and (min-width: 769px) and (max-width: 1023px) {

/* Nav */
 
    li {
        height: 100%;
        margin: 2rem 1rem;
    }
    img, li {
        max-width: 800px;
    }
    #restaurant-img {
        margin: 0 auto;
        display: inline-block;
    }

}

/******************************************************************************
 * Desktop responsive styling
 */

@media only screen and (min-width: 1024px) and (max-width: 1215px) {

    html, nav, h1, a {
        font-size: 22px;
    }
    html, body {
        margin: 0 auto;
        max-width: 1080px;
    }
    img, li {
        max-width: 800px;
    }

    /* Restaurants */
    #restaurants-list li {
        margin: 1rem auto;
    }
    #restaurants-list li h1 {
        margin-bottom: 0;
        margin-left: 0.75rem;
    }
    #restaurants-list li p {
        display: inline-block;
        margin-left: 0.75rem;
        margin-top: 0.5rem;
    }
    #restaurants-list li a {
        margin: 10px auto;
        max-width: 30%;
    }
}

/******************************************************************************
 * Widescreen responsive styling
 */

@media only screen and (min-width: 1216px) {
    
      html, nav, h1, a {
        font-size: 22px;
    }
    html, body {
        margin: 0 auto;
        max-width: 1080px;
    }
    img, li {
        max-width: 800px;
    }
    li {
        margin: 2rem auto;
    }
}