/******************************************************************************
 * Resources

https://css-tricks.com/snippets/css/fluid-typography/
https://internetingishard.com/html-and-css/responsive-design/
https://css-tricks.com/almanac/properties/l/letter-spacing/
https://css-tricks.com/forums/topic/responsive-web-design-when-to-use-px-vs-on-margins-and-padding/
https://wisdmlabs.com/blog/customize-drop-down-list-using-css/

 */

/******************************************************************************
 * Default responsive styling
 */

* {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    max-width: 100%;
    margin: 0;
    padding: 0;
}
#map-container {
    max-height: 375px;
    width: 100%
}
#maincontent {
    width: 100%;
    min-height: 100%;
}
#map {
    height: 300px;
}
header {
    width: 100%;
}
body {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

}
ul {
    padding: 0;
}
nav {
    height: 100%;
}
.neighborhoods-filter-wrapper, .cuisines-filter-wrapper {
    padding: 10px 8px 10px 14px;
    display: inline-block;
    position: relative;
}
#neighborhoods-select, #cuisines-select {
    border-radius: 5px;
}
#restaurants-list li a {
    display: block;
    margin: 10px 10%;
}
footer {
    flex-shrink: 0;
}

/******************************************************************************
 * Mobile first responsive styling
 */

@media only screen and (max-width: 400px) {

/* Nav */
    .leaflet-control-attribution .leaflet-container {
        font-size: 0.5rem;
    }
    .leaflet-container a {
        font-size: 0.5rem;
    }
    nav h1 {
        margin: 0;
        padding: 20px 10%;
        letter-spacing: 0.4rem;
    }
    li {
        margin: 0.5rem;
    }
    img, li {
        max-width: 100%;
        border-radius: 7% 0px;
        max-height: 100vh;
    }

/* Restaurants */
    #restaurants-list li h1 {
        margin-left: 0.75rem;
        margin-bottom: 0;
    }
    #restaurants-list li p {
        margin-left: 0.75rem;
        display: inline-block;
        margin-top: 0.5rem;
    }
}
/******************************************************************************
 * Tablet responsive styling
 */

@media only screen and (min-width: 401px) and (max-width: 960px) {

/* Nav */
    .leaflet-control-attribution .leaflet-container {
        font-size: 0.5rem;
    }
    .leaflet-container a {
        font-size: 0.5rem;
    }    nav h1 {
        padding: 20px 10%;
        letter-spacing: 0.4rem;
    }
    li {
        margin: 2rem 1rem;
        height: 100%;
    }
    img, li {
        max-width: 100%;
        border-radius: 7% 0px;
    }

/* Restaurants */
    #restaurants-list li h1 {
        margin-left: 0.75rem;
        margin-bottom: 0;
    }
    #restaurants-list li p {
        margin-left: 0.75rem;
        display: inline-block;
        margin-top: 0.5rem;
    }
    footer {

    }
}

/******************************************************************************
 * Desktop responsive styling
 */

 @media only screen and (min-width: 961px) {

    html, nav, h1, a {
        font-size: 22px;
    }
    html, body {
        max-width: 800px;
        margin: 0 auto; 
    }
}