@charset "utf-8";

/******************************************************************************
 * Default Styling
 */

html {
    font-size: 16px;
}
body,td,th,p{
	color: #333;
    font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
}
ul, li {
	color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}
#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}
#footer {
    background-color: #444;
    color: #aaa;
    letter-spacing: 1px;
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
}

/******************************************************************************
 * Map
 */

#map {
    background-color: #ccc;
}

/******************************************************************************
 * Navigation
 */

nav {
    background-color: #252831;
    text-align:center;
}
nav h1 a {
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}
#breadcrumb {
    background-color: #eee;
    list-style: none;
    margin: 0;
    padding: 10px 40px 16px;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/******************************************************************************
 * Restaurant Filtering
 */

.filter-options {
    background-color: #3397DB;  
}
.neighborhoods-filter-wrapper, .cuisines-filter-wrapper {
    padding: 10px 8px 10px 12px;
}
.filter-options h2 {
    color: white;
    font-weight: normal;
    line-height: 1;
}
.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    letter-spacing: 0;
}

/******************************************************************************
 * Restaurant Listing
 */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
}
#restaurants-list li {
    background-color: #fff;
/*border: 2px solid #ccc;*/
    font-family: Arial,sans-serif;
}
#restaurants-list .restaurant-img {
    background-color: #ccc;
}
#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    text-transform: uppercase;
}
#restaurants-list li a {
    background-color: orange;
    border-bottom: 2px solid #eee;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/******************************************************************************
 * Restaurant Details
 */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.inside #map-container {
    background: blue none repeat scroll 0 0;
}
.inside #map {
    background-color: #ccc;
}
.inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
}
#restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.1;
    text-transform: uppercase;
}
#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
#restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}
#reviews-container h2 {
    color: #f58500;
    font-weight: 300;
    letter-spacing: -1px;
}
#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    list-style-type: none;
    overflow: hidden;
    position: relative;
}
#restaurant-hours td {
    color: #666;
}